.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.2rem;
  min-height: 1.2rem;
  border-radius: 1000px;
  font-size: .6rem;
  line-height: 1;
  color: #ffffff;
  background-color: map_get($colors, primary);
}