.btn-icon {
  display: inline-flex;
  padding: .5rem;
  border-radius: 100%;
  color: map_get($colors, secondary);
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color .1s;
  text-decoration: none;

  &:hover,
  &:active,
  &_active {
    background-color: rgba(0, 0, 0, .1);
  }

  &_size {
    &_m {
      font-size: 2rem;
    }

    &_l {
      font-size: 3rem;
    }

    &_xl {
      font-size: 4rem;
    }
  }
}