.user-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-list__item {
    display: flex;
    flex-direction: row;
    padding: 1rem .5rem;
    border-bottom: 1px solid #EEEEEE;
    transition: background-color .2s linear;
}

.user-list__item:hover,
.user-list__item.user-list__item_active {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.user-list__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.user-list__main {
    padding: 0 1rem;
    flex-grow: 1;
}

.user-list__text {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: .7rem;
    color: #9E9E9E;
}

.user-list__title {
    width: 100%;
    padding: 0 0 .3rem;
    margin: 0;
    font-size: .9rem;
    font-weight: bold;
}

.user-list__support {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.user-list__date {
    padding-bottom: .5rem;
    font-size: .6rem;
    color: #9E9E9E;
}