.message-pack {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 1rem;
  }

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }

  .message:last-child {
    border-bottom-left-radius: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -12px;
      border-bottom: 16px solid #B3E5FC;
      border-left: 12px solid transparent;
      border-top: 12px solid transparent;
    }
  }

  &_answer {
    .message {
      background-color: #DCEDC8;

      &:last-child {
        &::before {
          border-bottom-color: #DCEDC8;
        }
      }
    }
  }
}