.table {
  width: 100%;
  text-align: left;

  &__title {
    font-weight: bold;
  }

  &_type {
    &_centered {
      .table__title {
        width: 50%;
        padding-right: 1rem;
        text-align: right;
      }

      .table__text {
        width: 50%;
        text-align: left;
      }
    }
  }
}