// colors
// map_get($colors, text-main)
$colors: (
        gray100: #F5F5F5,
        gray500: #9E9E9E,
        gray800: #424242,
        blue500: #2196F3,
        d-purple: #673AB7,
        text-main: #424242,
        text-subtitle: #9E9E9E,
        link-primary: #2196F3,
        primary: #2196F3,
        primary-hover: #1E88E5,
        secondary: #424242,
        secondary-hover: #616161,
        success: #4CAF50,
        success-hover: #4CAF50,
        danger: #f44336,
        danger-hover: #e53935,
        bg-primary: #673AB7,
        bg-secondary: #FAFAFA,
        border-secondary: #EEEEEE,
);

// fonts
$font-primary: "Roboto", Arial, sans-serif;
$paragraph-margin-bottom: 0;

// bg
$bg-main-path: "~@root/img/bg.jpg";

// spacers
$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
                $spacers,
                (
                        0: 0,
                        10: 0.625rem,
                        14: 0.875rem,
                        20: 1.25rem,
                        24: 1.5rem,
                        30: 1.875rem,
                        40: 2.5rem,
                        50: 3.125rem,
                        60: 3.75rem,
                        80: 5rem,
                        100: 6.25rem,
                        135: 8.4375rem,
                ),
);

// grid
$enable-grid-classes: true !default;
$grid-columns: 12 !default;
$grid-row-columns: 6 !default;
$grid-gutter-width: 2.5rem; // 40px
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1440px
);

$container-max-widths: (
        sm: 576px,
        md: 768px,
        lg: 73.2rem,
        xl: 73.2rem
);

$container-small-max-widths: (
        sm: 54rem,
        md: 54rem,
        lg: 48.9rem,
        xl: 48.9rem
);