.table {
    width: 100%;
    text-align: left;
}

.table__title {
    font-weight: bold;
}

.table_type_centered .table__title {
    width: 50%;
    padding-right: 1rem;
    text-align: right;
}

.table_type_centered .table__text {
    width: 50%;
    text-align: left;
}