.input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input__label {
    display: flex;
    width: 100%;
    font-size: .8rem;
}

.input__field {
    display: flex;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .1);
    border: none;
    border-radius: 6px 6px 0 0;
    border-bottom: 3px solid #9E9E9E;
    transition: border .2s linear;
}

.input__field:hover,
.input__field:focus {
    outline: none;
    border-bottom: 3px solid #2196F3;
}

.input__message {
    display: flex;
    width: 100%;
    font-size: .8rem;
}

.input_color_white {
    color: white;
}

.input_color_white .input__field {
    color: white;
    background-color: rgba(255, 255, 255, .1);
    border-bottom-color: rgba(255, 255, 255, .5);
}

.input_color_white .input__field:hover,
.input_color_white .input__field:focus {
    border-bottom-color: #fff;
}

.input_color_white .input__field::placeholder {
    color: rgba(255, 255, 255, .5);
}

.input_inline {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 4px;
}

.input_inline .input__field {
    display: flex;
    padding: 0;
    width: 100%;
    font-size: .8rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: border .2s linear;
}

.input_inline .input__icon {
    display: inline-flex;
    margin-right: .5rem;
    color: rgba(0, 0, 0, .5);
}

.input_textarea .input__field {
    resize: vertical;
    max-height: 5rem;
}