/* reset */
* {
    box-sizing: border-box;
}

button:focus,
input:focus {
    outline: none;
}

/* main */
html,
body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #424242;
}

.bg_color_auth {
    min-height: 100vh;
    background: #673AB7 url("../img/bg.jpg") no-repeat;
    background-size: cover;
}

a {
    color: #2196F3;
}

/* components */
.logo {
    text-align: center;
}

.logo.logo_color_white {
    color: #ffffff;
}


.table {
    width: 100%;
    text-align: left;
}

.table__title {
    font-weight: bold;
}

.table_type_centered .table__title {
    width: 50%;
    padding-right: 1rem;
    text-align: right;
}

.table_type_centered .table__text {
    width: 50%;
    text-align: left;
}

/* modificators */
.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.text_color_white {
    color: white;
}

.text_align_center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

/* vendors */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-1 { font-size: 1rem; }
.material-icons.md-2 { font-size: 2rem; }
.material-icons.md-3 { font-size: 3rem; }
.material-icons.md-4 { font-size: 4rem; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
