header.chat__main-bar
    .avatar
        img(
            src=require("@root/img/bg.jpg").default
            alt="Александр Щеголь"
            class="avatar__img"
        )

    .col
        h5.title Саша
        p.subtitle Ровно 5 минут назад он был здесь

    .col-auto
        | !{dropdownOptions}