html {
  font-size: 20px;
}

body {
  font-family: $font-primary;
  color: map_get($colors, text-main);
}

a {
  color: map_get($colors, link-primary);
}

.bg {
  &_color {
    &_auth {
      min-height: 100vh;
      background: map_get($colors, bg-main) url($bg-main-path) no-repeat;
      background-size: cover;
    }
  }
}