.cursor-pointer {
  cursor: pointer;
}

.text {
  &_color {
    &_white {
      color: #ffffff;
    }
  }

  &_size {
    &_xxxl {
      font-size: 10rem;
    }
  }

  &_align {
    &_center {
      text-align: center;
    }

    &_left {
      text-align: left;
    }
  }
}