div.chat__bottom-bar
    div
        | !{chatInputDropdown}

    div.col
        | !{chatInput}
        //form
        //    label.input.input_inline
        //        input(
        //            class="input__field"
        //            data-validation-type="text"
        //        )

    div
        | !{chatInputButton}
        //button(
        //    type="button"
        //    class="btn-icon"
        //    title="Отправить"
        //)
        //    i.material-icons send