div.message.message_status_read
    p.message__text #{text}
        div.message__support
            span.message__status
                i.material-icons.done_all

            time.message__date #{date}
